.title-bar{
	min-height: 20px;
	height:36px;
}

.title-label{
	padding-left: 10px;
}

.viewport{
/*	border:1px solid blue;
*/	width:100%;
	height:530px;
	overflow: hidden;
	padding-top: 6px;
	padding-left: 6px;
	background-color:white;
}

.md-sidenav-right{
	height:500px;
	max-width: 370px;
	width: 370px;
}

.md-sidenav-right md-content{
	padding-left: 6px;
	padding-right: 6px;
	height:100%;
}

/*----------------------------------------*/

.clock{
	/*border: solid 1px rgba(123,112,0,0.1);*/
	height:87px;
	width:220px;
}

.clock md-tabs{
	padding-bottom: 26px;
}

.clock md-tabs[md-align-tabs=bottom] md-tabs-wrapper, .clock md-tabs-canvas{
	height: 26px;
}

.clock md-tab-item{
	font-size:12px;
	line-height:16px;
	padding: 4px 6px 2px 6px;
}

.clock .material-icons{
    font-size: 16px;
}

.clock .label{
	text-align: center;
	font-size: 13px;
}

.clock .display{
    font-size: 40px;
    padding: 0px 0px;
	text-align: center;
}

.clock-control .material-icons{
 	font-size: 26px;
}

.clock-control.md-button{
 	min-width:0px;
 	padding: 0px;
 	margin: 0px;
}

.indicators-container{
		width: 50px;
}

.indicator{
	width:50px;
	height:40px;
	padding: 10px 0px 0px 0px;
	position: relative;
	text-align: center;
	margin: 10px 0px 0px 0px;
	vertical-align: middle;
}

.indicator .badge{
	font-size: 11px;
	font-weight:600;
    color: white;
    background-color: red;
    padding: 4px 3px;
    margin: 0px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 2px;
    left: 24px;
    display:inline-block;    
    min-width: 12px;
}

.indicators-container .md-button{
	line-height: 12px;
    padding: 0px;
    margin: 0px;
}

.indicator md-icon{
	color:#BDBDBD;
}
.indicator.connected{
	background-color:  #58da5e
}
.indicator.connected md-icon{
	color:  #ffffff
}
.indicator.simulation-switch{
	font-size: 24px;
	font-weight: 600;
	color: #BDBDBD;
}
.indicator.simulation-switch.connected{
	color: #ffffff;
}

.indicator md-icon.annotation
{
color: red;
position: absolute;
top: 20px;
left: 20px;
}

.subsystem-card{
	/*border: 1px solid red;*/
	margin: 10px;
	min-width: 370px;
	width: 370px;
	max-width: 370px;
}

.subsystem-card md-toolbar{
	min-height: 0px;
}
.subsystem-card .md-toolbar-tools{
	height: 32px;
}
.subsystem-card .title{
	font-size: 26px;
}

.subsystem-card .avatar{
	font-size: 32px;
	vertical-align: bottom;
	padding-right: 10px;
}

.subsystem-card .card-body{
	margin: 5px 8px 0px 6px;
}


.setting{
	height: 58px;
	overflow: hidden;
	position: relative;
}
.setting .title{
	font-size:18px;
}
.setting .value{
	font-size:40px; 
}

.setting .title-control {
	padding-left:4px; 
	padding-right:10px;
}

.setting .title-control .material-icons{
	font-size:14px; 
	vertical-align: baseline;
}

.setting-configuration-panel{
	position:relative;
	top:-20px;
	background-color: rgba(255,255,255,0.65);
	padding-left: 10px;
}

.setting .config-control.material-icons{
	position: absolute;
	left: 324px;
	top: 0px;
}

.setting .inline-numeric{
	padding:0px 3px;
	width:60px;
	display: inline-block;
	position:relative;
	top:5px;
}

.setting md-content{
	overflow-y:hidden;
}

.setting .inline-numeric md-input-container{
	margin: 10px 0px 0px 0px;
}

.setting md-input-container{
	width:100%;
}

.message-log {
	height: 100%;
}

.message-log md-toolbar, .message-log .md-toolbar-tools{
	min-height: 40px;
}

.message-log .md-toolbar-tools{
	height: 40px;
}
.message-log .md-toolbar-tools .md-button{
	min-width: 60px;
	width: 60px;
}

.log-message .material-icons{
	    vertical-align: bottom;
	    font-size: 18px
}

.truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.log-message.selected{
	background-color: rgba(230,230,255,1);
}

.sidenav-log{
	max-width: 800px;
	width: 800px;
}

.message-log .md-toolbar-tools md-switch span{
	color: #ff5252;
}
.message-log .md-toolbar-tools md-switch.switch-off span{
	color: rgb(96,125,139);
}

.robot-state{
	overflow: hidden;
	width:220px;
	padding-bottom: 10px;
}
.robot-state .value{
    font-size: 35px;
    padding-left: 8px;
}

md-divider.md-default-theme, md-divider {
    border-top-color: rgba(0,0,0,0.4);
}

.team-name{
	font-size: 30px;
	text-align: center;
}

.md-sidenav-right .db-admin{
	height: 100%;
}

.md-sidenav-right .db-admin md-input-container
{
	margin:15px 6px 0px 0px;
}

.md-sidenav-right .db-admin md-content{
	height: 260px;
} 

.indicators-container md-divider
{
	margin-top: 5px;
}
.session-card{
  max-width: 400px;
  width: 400px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  background-color: rgb(235, 235, 235);
}

.session-card .id-panel{
	max-width: 160px;
	width: 160px;
}
.session-card .control-panel{
	max-width: 28px;
	width: 28px;
	text-align: center;
    vertical-align: middle;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.session-card .control-panel .md-button{
   padding: 0px;
   margin: 0px;
   min-width: 0px;
   min-height: 0px;
   width:28px;
}

.session-card .control-panel .md-button:hover md-icon{
   color:rgba(81, 203, 238, 1);
}

.session-card .id-panel .recording-name{
    font-size: 22px;
}

.session-card .id-panel .recording-time-label{
    font-size: 12px;
}

.session-card .id-panel .recording-time{
	font-size: 15px;
}

.session-card .stat-panel{
	font-size: 12px;
}

.session-card:hover {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  background-color: rgb(255,255,255);
}

md-icon.fa{
	text-align: center;
    vertical-align: middle;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}


.session-card{
  max-width: 400px;
  width: 400px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  background-color: rgb(235, 235, 235);
}

.session-card .id-panel{
	max-width: 160px;
	width: 160px;
}
.session-card .control-panel{
	max-width: 28px;
	width: 28px;
	text-align: center;
    vertical-align: middle;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.session-card .control-panel .md-button{
   padding: 0px;
   margin: 0px;
   min-width: 0px;
   min-height: 0px;
   width:28px;
}

.session-card .control-panel .md-button:hover md-icon{
   color:rgba(81, 203, 238, 1);
}

.session-card .id-panel .recording-name{
    font-size: 22px;
}

.session-card .id-panel .recording-time-label{
    font-size: 12px;
}

.session-card .id-panel .recording-time{
	font-size: 15px;
}

.session-card .stat-panel{
	font-size: 12px;
}

.session-card:hover {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  background-color: rgb(255,255,255);
}


.sidenav-db-admin{
	max-width: 430px;
	width: 430px;
}
