<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MDCOnsole" content="A custom robot console developed by Team 4141">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>MDConsole Team4141</title>   
    
    <link rel="shortcut icon" href="mdlogo.jpg">

    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/MDConsole.css">

  </head>
  <body ng-app="MDConsole" ng-controller="MDConsoleController as mdc" ng-cloak >
 <md-toolbar class="title-bar">
    <div class="md-toolbar-tools">
      <img src="mdlogo.jpg" width="40px" height="30px" />
      <span class="title-label">Monarchs - Team 4141</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <i class="material-icons">android</i>
    </div>
  </md-toolbar>
     <div>
    <div layout="row" layout-wrap>
      <div flex="none" layout="column">
        <game-clock></game-clock>
        <console-oi></console-oi>
      </div>
      <div class="other" flex>
      	<subsystems-list></subsystems-list>
      </div>
      <div flex="none"  class="indicators-container" layout="column">
        <md-button ng-click="toggleRight('settings')"><div class="indicator"><md-icon>settings</md-icon></div></md-button>
        <md-button ng-click="toggleRight('diagnostics')"><div class="indicator"><md-icon>assessment</md-icon></div></md-button>
        <md-button ng-click="toggleRight('messages')"><div class="indicator"><md-icon>message</md-icon><badge data-count="messageCount"></badge></div></md-button>
        <md-button ng-click="addMessage()">add message</md-button>
      </div>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>

    </md-sidenav>    
    </div>
    <div flex="100"><event-log></event-log></div>


 <!--         <md-switch ng-disabled="!(db.isConnected)" style="width:140px;padding-left:6px;" ng-model="db.isRecording" aria-label="Record Switch" ng-change="toggleRecording(db.isRecording)">
            <span ng-class="{'disabled-text':!(db.isConnected)}">{{getRecordingLabel()}}</span>
          </md-switch> -->

    <script src="scripts/lib/angular.min.js"></script>
    <script src="scripts/lib/angular-animate.min.js"></script>
    <script src="scripts/lib/angular-aria.min.js"></script>
    <script src="scripts/lib/angular-messages.min.js"></script>
    <script src="scripts/lib/angular-material.min.js"></script>

    <script src="scripts/app/MDConsole.js"></script>
    <script src="scripts/app/services/SimulationService.js"></script>
    <script src="scripts/app/services/RobotService.js"></script>
    <script src="scripts/app/directives/ConsoleOIDirective.js"></script>
    <script src="scripts/app/directives/ConsoleButtonDirective.js"></script>
    <script src="scripts/app/directives/SubsystemsListDirective.js"></script>
    <script src="scripts/app/directives/SubsystemCardDirective.js"></script>
    <script src="scripts/app/directives/SettingDirective.js"></script>
    <script src="scripts/app/directives/SensorDirective.js"></script>
    <script src="scripts/app/directives/SensorReadingDirective.js"></script>
    <script src="scripts/app/directives/GameClockDirective.js"></script>
    <script src="scripts/app/directives/EventLogDirective.js"></script>
    <script src="scripts/app/directives/NotificationDirective.js"></script>
    <script src="scripts/app/directives/BadgeDirective.js"></script>
    <script src="scripts/app/directives/NumericDirective.js"></script>
 </body>
</html>
